<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Vodas Rental - About</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/dove.png" rel="icon" />
    <link href="/img/dove-touch.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body class="page-about">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img
            src="/img/woman.png"
            style=" height: auto; color: white; background-blend-mode: hard-light; background-color: white; border-radius: 8px;"
            alt=""
          />
          <!-- <h1 class="d-flex align-items-center">Vodas</h1> -->
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Rentals</a></li>
            <li><a href="/team"></a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li class="dropdown">
              <!-- <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul> -->
            </li>
            <li><a href="/contact">Request</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="background-image: url('/img/about-header.jpg')"
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
        >
          <h2>About</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li style="color: azure;">About</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4" data-aos="fade-up">
            <div class="col-lg-4">
              <img src="/img/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="content ps-lg-5">
                <h3>Welcome to Vodas Rentals</h3>
                <p>
                  At Vodas Rentals, we redefine the rental experience, offering
                  a curated selection of high-quality products for your special
                  occasions. Whether you're planning a grand celebration, a
                  corporate event, or an intimate gathering, Vodas Rentals is
                  here to elevate your experience with our extensive range of
                  premium rentals.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check-circle-fill"></i> Your Gateway to Seamless and Stylish Rentals!
                  </li>
                  <li>
                    <i class="bi bi-check-circle-fill"></i> Elevate. Celebrate. Vodas Rentals | Where Every Event Shines!
                  </li>
                  <li>
                    <i class="bi bi-check-circle-fill"></i> Your One-Stop Solution for Unforgettable Occasions.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Why Choose Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Why Choose Us</h2>
          </div>

          <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
            <div
              class="col-xl-5 img-bg"
              style="background-image: url('/img/why-us-bg.jpg')"
            ></div>
            <div class="col-xl-7 slides position-relative">
              <div class="slides-1 swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">Why Choose Vodas Rentals</h3>
                      <h4 class="mb-3">
                        Quality Assurance | Design Excellence | Professional
                        Service
                      </h4>
                      <p>
                        Our products undergo stringent quality checks to ensure
                        they meet the highest standards.
                        <br />
                        From classic to contemporary, our rentals are designed
                        to complement a variety of themes and styles.
                        <br />
                        Our team is dedicated to providing seamless and
                        professional service, from the selection process to
                        delivery and setup.
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->

                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">Our Commitment</h3>
                      <h4 class="mb-3">
                        Our staff is joyful each day to help our customers
                        choose styles and materials that leave a lasting impact
                        on those who matter most.
                      </h4>
                      <p>
                        At the heart of Vodas Rentals is a commitment to
                        providing unparalleled service and top-notch products.
                        We understand the significance of your events, and our
                        mission is to make every moment extraordinary. With
                        Vodas, you can expect not just rentals but an infusion
                        of style and sophistication into your celebrations.
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->

                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">How It Works</h3>
                      <h4 class="mb-3">Explore | Consult | Delivery</h4>
                      <p>
                        Browse through our online catalog or visit our showroom
                        to discover the perfect rentals for your event.
                        <br />
                        Our expert team is ready to assist you in selecting the
                        ideal pieces that match your vision and requirements.
                        <br />
                        Sit back and relax as we deliver and set up the rentals
                        at your venue, ensuring a hassle-free experience.
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->

                  <!-- <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">
                        Necessitatibus suscipit non voluptatem quibusdam
                      </h3>
                      <h4 class="mb-3">
                        Tempora quos est ut quia adipisci ut voluptas. Deleniti
                        laborum soluta nihil est. Eum similique neque autem ut.
                      </h4>
                      <p>
                        Ut rerum et autem vel. Et rerum molestiae aut sit vel
                        incidunt sit at voluptatem. Saepe dolorem et sed
                        voluptate impedit. Ad et qui sint at qui animi animi
                        rerum.
                      </p>
                    </div>
                  </div> -->
                  <!-- End slide item -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Choose Us Section -->

      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3>ELEVATE YOUR EVENTS</h3>
              <p>
                Planning a Wedding, Proposal, or Event in our busy city is not
                so easy, and it takes skills (and time) to make it all look
                easy-going.
              </p>
              <a class="cta-btn" href="#">Build A Wishlist</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Call To Action Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Our Team</h2>
          </div>

          <div class="row gy-4">
            <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="team-member">
                <div class="member-img">
                  <img src="/img/team/team-1.jpg" class="img-fluid" alt="" />
                  <!-- <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>
                <div class="member-info">
                  <h4>Vera Odas</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>
            <!-- End Team Member -->

            <!-- <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="team-member">
                <div class="member-img">
                  <img src="/img/team/team-2.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
              </div>
            </div> -->
            <!-- End Team Member -->

            <!-- <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="team-member">
                <div class="member-img">
                  <img src="/img/team/team-3.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div> -->
            <!-- End Team Member -->

            <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="team-member">
                <div class="member-img">
                  <img src="/img/team/team-4.jpg" class="img-fluid" alt="" />
                  <!-- <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
              </div>
            </div>
            <!-- End Team Member -->
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="/" class="logo d-flex align-items-center">
                <img
            src="/img/logo.png"
            style=" height: auto; color: white; background-blend-mode: hard-light; background-color: white; border-radius: 8px;"
            alt=""
          />
              </a>
              <p>
                RATHER HAVE US PLAN YOUR EVENT OR WEDDING?
                <a
                  href="https://wa.me/16475625436?text=I'm%20interested%20in%20planning%20for%20an%20event"
                  >LET"S CHAT</a
                >
              </p>
              <div class="social-links d-flex mt-3">
                <a
                  href="mailto:everythingvodas@gmail.com"
                  class="envelope"
                  target="_blank"
                  ><i class="bi bi-envelope"></i
                ></a>
                <a href="https://www.facebook.com/share/bpWiujLd9uyhwC6p/?mibextid=LQQJ4d" class="facebook" target="_blank"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a
                  href="https://www.instagram.com/vodas_rentals?igsh=N2I4ZDdndXVzcXFt&utm_source=qr"
                  target="_blank"
                  class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li> <a href="/">Home</a></li>
                <li>
                   <a href="/about">About us</a>
                </li>
                <li>
                   <a href="/services">Services</a>
                </li>
                <li>
                   <a href="/portfolio">Rentals</a>
                </li>
                <li>
                   <a href="/gallery">Gallery</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Available For Rent</h4>
              <ul>
                <li>
                  
                  <a href="/portfolio">Folding Chairs</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Rectangle Tables</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Table Cloth & Chair Covers</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Buffet Tables & Cutlery</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Chafing Dishes</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                St. Catherine, <br />
                Welland, Niagara Falls<br />
                Niagara Region <br /><br />
                <strong>Phone:</strong> +1 647 562 5436<br />
                <strong>Email:</strong> Everythingvodas@gmail.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>EverythingVodasRentals</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --><!-- End Footer -->

    <a href="/portfolio">
      <div class="item-count " >
        <button type="button" class="btn position-relative">
          <i style="color: white;" class="bi bi-cart-plus-fill"></i
            >
          <span id="cookieCountDisplay" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            ?
            <span class="visually-hidden">unread messages</span>
            
          </span>
        </button>
      </div>
    </a>
    

    <!-- Wishlist Mail Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
    <script>
      const btn = document.querySelector('.item-count-home');
      btn.addEventListener('click', (event) => {
        window.location.href = "http://localhost:4014/portfolio";
      })
    </script>
  </body>
</html>
