<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Vodas Rental - Contact</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/dove.png" rel="icon" />
    <link href="/img/dove-touch.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body class="page-contact">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img
            src="/img/woman.png"
            style=" height: auto; color: white; background-blend-mode: hard-light; background-color: white; border-radius: 8px;"
            alt=""
          />
          <!-- <h1 class="d-flex align-items-center">Vodas</h1> -->
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Rentals</a></li>
            <li><a href="/team"></a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li class="dropdown">
              <!-- <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul> -->
            </li>
            <li><a href="/contact" class="active">Request</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="background-image: url('/img/contact-header.jpg')"
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
        >
          <h2>Send a Request</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li style="color: azure">Make a request</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container position-relative" data-aos="fade-up">
          <div class="row gy-4 d-flex justify-content-end">
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>St. Catherine, Welland, Niagara Falls, Niagara Region.</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>Everythingvodas@gmail.com</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1(647)-562-5436</p>
                </div>
              </div>
              <!-- End Info Item -->
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
              <form
                action="/sendMail"
                method="POST"
                role="form"
                class=""
              >
              
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <!-- <div class="loading">Loading</div> -->
                  <!-- <div class="error-message"></div> -->
                  <!-- <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div> -->
                </div>
                <div class="text-center">
                  <button type="submit" onclick="sendReq()" class="btn btn-secondary">Send</button>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="/" class="logo d-flex align-items-center">
                <img
            src="/img/logo.png"
            style=" height: auto; color: white; background-blend-mode: hard-light; background-color: white; border-radius: 8px;"
            alt=""
          />
              </a>
              <p>
                RATHER HAVE US PLAN YOUR EVENT OR WEDDING?
                <a
                  href="https://wa.me/16475625436?text=I'm%20interested%20in%20planning%20for%20an%20event"
                  >LET"S CHAT</a
                >
              </p>
              <div class="social-links d-flex mt-3">
                <a
                  href="mailto:everythingvodas@gmail.com"
                  class="envelope"
                  target="_blank"
                  ><i class="bi bi-envelope"></i
                ></a>
                <a
                  href="https://www.facebook.com/share/bpWiujLd9uyhwC6p/?mibextid=LQQJ4d"
                  class="facebook"
                  target="_blank"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a
                  href="https://www.instagram.com/vodas_rentals?igsh=N2I4ZDdndXVzcXFt&utm_source=qr"
                  target="_blank"
                  class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li> <a href="/">Home</a></li>
                <li>
                   <a href="/about">About us</a>
                </li>
                <li>
                   <a href="/services">Services</a>
                </li>
                <li>
                   <a href="/portfolio">Rentals</a>
                </li>
                <li>
                   <a href="/gallery">Gallery</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Available For Rent</h4>
              <ul>
                <li>
                  
                  <a href="/portfolio">Folding Chairs</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Rectangle Tables</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Table Cloth & Chair Covers</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Buffet Tables & Cutlery</a>
                </li>
                <li>
                  
                  <a href="/portfolio">Chafing Dishes</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                St. Catherine, <br />
                Welland, Niagara Falls<br />
                Niagara Region <br /><br />
                <strong>Phone:</strong> +1 647 562 5436<br />
                <strong>Email:</strong> Everythingvodas@gmail.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>EverythingVodasRentals</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --><!-- End Footer -->

    <a href="/portfolio">
      <div class="item-count item-count-home">
        <button type="button" class="btn position-relative">
          <i style="color: white;" class="bi bi-cart-plus-fill"></i
            >
          <span id="cookieCountDisplay" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            ?
            <span class="visually-hidden">unread messages</span>
            
          </span>
        </button>
      </div>
    </a>
    

    <!-- Wishlist Mail Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>    
    <script>
      function sendReq() {
        alert("Message is sent");
      }
    </script>
  </body>
</html>
