<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Vodas Rental - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/dove.png" rel="icon" />
    <!-- <link href="/img/doveSvg.png" rel="icon" /> -->
    <link href="/img/dove-touch.png" rel="apple-touch-icon" />
    <!-- <link href="/img/doveSvg.png" rel="" /> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body class="page-index">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img
            src="/img/logo.png"
            style="background-color: white; height: auto; width: 150px"
            alt=""
          />
          <!-- <h1 class="d-flex align-items-center">Vodas</h1> -->
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Rentals</a></li>
            <li><a href="/team">Team</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li class="dropdown">
              <!-- <a href="#"
                ><span>Dropdown</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Dropdown</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul> -->
            </li>
            <li><a href="/contact">Request</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <h2 data-aos="fade-up">Everything VODAS Rentals</h2>
            <blockquote data-aos="fade-up" data-aos-delay="100">
              <p>
                At Vodas Rentals, we specialize in providing top-of-the-line
                event equipment to make your celebrations truly exceptional.
                Whether you're planning a wedding, corporate event, or a social
                gathering, we have the perfect solutions for you.
              </p>
            </blockquote>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="/portfolio" class="btn-get-started">Get Started</a>
              <a
                href="https://web.facebook.com/reel/1124265065343735"
                class="glightbox btn-watch-video d-flex align-items-center"
                ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= Why Choose Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Why Choose Us</h2>
          </div>

          <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
            <div
              class="col-xl-5 img-bg"
              style="background-image: url('/img/why-us-bg.jpg')"
            ></div>
            <div class="col-xl-7 slides position-relative">
              <div class="slides-1 swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">Weddings</h3>
                      <h4 class="mb-3">
                        Your wedding day is a celebration of love, and we're
                        here to help you bring your dream wedding to life with
                        our beautiful selection of rental items.
                      </h4>
                      <p>
                        The experienced staff at Vodas Rentals can work with you
                        to achieve the look and feel you are visualizing for
                        your wedding day. Casual or formal, indoors or out, our
                        extensive inventory means you have a wide variety of
                        choices from dinnerware and glassware to table linens
                        and wedding décor.
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->

                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">Private Parties</h3>
                      <h4 class="mb-3">
                        We're thrilled to have this opportunity to present our
                        exceptional private party event services to you.
                      </h4>
                      <p>
                        We’re here to help you throw a great party! Tents,
                        canopies, tables, chairs and a whole lot more! Stop into
                        our showroom to see all the items we have to make your
                        next event enjoyable and easy!
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->

                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">Corporate & Gala Events</h3>
                      <h4 class="mb-3">
                        Welcome to an unforgettable corporate and gala event
                        experience.
                      </h4>
                      <p>
                        Whether your corporate event is strictly business or
                        mixing business with pleasure, you’re in good hands with
                        Everything Vodas Rentals. We work with a network of
                        other professionals to make it all exactly right. All
                        this for a surprisingly small impact on your bottom
                        line.
                      </p>
                    </div>
                  </div>
                  <!-- End slide item -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Choose Us Section -->

      <!-- ======= Our Services Section ======= -->
      <section id="services-list" class="services-list">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Available For Rent</h2>
          </div>

          <div class="row gy-5">
            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-briefcase" style="color: #f57813"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link">Folding Chairs</a>
                </h4>
                <p class="description">
                  Folding chairs are essential item for events, offering a
                  practical seating solution such as convenience, space-saving,
                  affordability, versatility and durability
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-card-checklist" style="color: #15a04a"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link">Rectangle Tables</a>
                </h4>
                <p class="description">
                  Enhance your event with our versatile and elegant rectangle
                  tables, designed to provide optimal space and comfort for your
                  guests while adding a touch of sophistication to any occasion.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-bar-chart" style="color: #d90769"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link">Table Cloth</a>
                </h4>
                <p class="description">
                  Transform your event with our premium tablecloth rentals,
                  offering an array of colors and styles that elevate your
                  tablescape and create a stunning atmosphere for your special
                  occasion.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-binoculars" style="color: #15bfbc"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link">Chair Covers</a>
                </h4>
                <p class="description">
                  Elevate your event's elegance with our stylish chair cover
                  rentals, providing a seamless way to enhance your seating and
                  create a cohesive, polished look for any gathering.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-brightness-high" style="color: #f5cf13"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link">Buffet Table</a>
                </h4>
                <p class="description">
                  Impress your guests with our versatile buffet table rentals,
                  designed to seamlessly accommodate a variety of food and drink
                  displays while adding a touch of sophistication to your event.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="icon flex-shrink-0">
                <i class="bi bi-calendar4-week" style="color: #1335f5"></i>
              </div>
              <div>
                <h4 class="title">
                  <a href="#" class="stretched-link"
                    >Chafing Dishes & Cutlery</a
                  >
                </h4>
                <p class="description">
                  Enhance your event's dining experience with our premium
                  chafing dishes and cutlery rentals, keeping your meals warm
                  and beautifully presented to delight your guests.
                </p>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- End Our Services Section -->

      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3>ELEVATE YOUR EVENTS</h3>
              <p>
                Transform your event effortlessly with our premium rentals.
                Elevate the experience, without the hassle. Build a wishlist now
                and let us bring your vision to life!
              </p>
              <a class="cta-btn" href="/portfolio">Build A Wishlist</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Call To Action Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
              <h3>Your One-Stop Solution for <br />Unforgettable Occasions</h3>

              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-store-line" style="color: #ffbb2c"></i>
                    <span>Folding Chairs</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
                    <span>Rectangle Tables</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-calendar-todo-line" style="color: #e80368"></i>
                    <span>Table Cloth</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-paint-brush-line" style="color: #e361ff"></i>
                    <span>Chair Covers</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-database-2-line" style="color: #47aeff"></i>
                    <span>Buffet Table</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-gradienter-line" style="color: #ffa76e"></i>
                    <span>Chafing Dishes</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-file-list-3-line" style="color: #11dbcf"></i>
                    <span>Cutlery</span>
                  </div>
                </div>
                <!-- End Icon List Item-->

                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-base-station-line" style="color: #ff5828"></i>
                    <span>Relaible Outsource Contact</span>
                  </div>
                </div>
                <!-- End Icon List Item-->
              </div>
            </div>
            <div
              class="col-lg-5 position-relative"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="phone-wrap">
                <img src="/img/iphone.png" alt="Image" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>

        <div class="details">
          <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="row">
              <div class="col-md-6">
                <!-- <h4>Labore Sdio Lidui<br />Bonde Naruto</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Numquam nostrum molestias doloremque quae delectus odit minima
                  corrupti blanditiis quo animi!
                </p>
                <a href="#about" class="btn-get-started">Get Started</a> -->

                <!-- <img src="/img/Vodas Compli F1.png" alt=""> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Testimonials</h2>
          </div>

          <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec
                    porttitora entum suscipit rhoncus. Accusantium quam,
                    ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                    risus at semper.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="/img/testimonials/testimonials-1.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Export tempor illum tamen malis malis eram quae irure esse
                    labore quem cillum quid cillum eram malis quorum velit fore
                    eram velit sunt aliqua noster fugiat irure amet legam anim
                    culpa.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="/img/testimonials/testimonials-2.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Enim nisi quem export duis labore cillum quae magna enim
                    sint quorum nulla quem veniam duis minim tempor labore quem
                    eram duis noster aute amet eram fore quis sint minim.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="/img/testimonials/testimonials-3.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                    multos export minim fugiat minim velit minim dolor enim duis
                    veniam ipsum anim magna sunt elit fore quem dolore labore
                    illum veniam.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="/img/testimonials/testimonials-4.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Quis quorum aliqua sint quem legam fore sunt eram irure
                    aliqua veniam tempor noster veniam enim culpa labore duis
                    sunt culpa nulla illum cillum fugiat legam esse veniam culpa
                    fore nisi cillum quid.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="/img/testimonials/testimonials-5.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Recent Blog Posts Section ======= -->
      <!-- <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Recent Blog Posts</h2>
          </div>

          <div class="row gy-5">
            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="post-box">
                <div class="post-img">
                  <img src="/img/blog/blog-1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="meta">
                  <span class="post-date">Tue, December 12</span>
                  <span class="post-author"> / Julia Parker</span>
                </div>
                <h3 class="post-title">
                  Eum ad dolor et. Autem aut fugiat debitis
                </h3>
                <p>
                  Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel
                  omnis laudantium. Asperiores eum ipsa est officiis. Modi qui
                  magni est...
                </p>
                <a href="/blog-details" class="readmore stretched-link"
                  ><span>Read More</span><i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="post-box">
                <div class="post-img">
                  <img src="/img/blog/blog-2.jpg" class="img-fluid" alt="" />
                </div>
                <div class="meta">
                  <span class="post-date">Fri, September 05</span>
                  <span class="post-author"> / Mario Douglas</span>
                </div>
                <h3 class="post-title">
                  Et repellendus molestiae qui est sed omnis
                </h3>
                <p>
                  Voluptatem nesciunt omnis libero autem tempora enim ut ipsam
                  id. Odit quia ab eum assumenda. Quisquam omnis doloribus...
                </p>
                <a href="/blog-details" class="readmore stretched-link"
                  ><span>Read More</span><i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="post-box">
                <div class="post-img">
                  <img src="/img/blog/blog-3.jpg" class="img-fluid" alt="" />
                </div>
                <div class="meta">
                  <span class="post-date">Tue, July 27</span>
                  <span class="post-author"> / Lisa Hunter</span>
                </div>
                <h3 class="post-title">Quia assumenda est et veritati</h3>
                <p>
                  Quia nam eaque omnis explicabo similique eum quaerat similique
                  laboriosam. Quis omnis repellat sed quae consectetur magnam...
                </p>
                <a href="/blog-details" class="readmore stretched-link"
                  ><span>Read More</span><i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="post-box">
                <div class="post-img">
                  <img src="/img/blog/blog-4.jpg" class="img-fluid" alt="" />
                </div>
                <div class="meta">
                  <span class="post-date">Tue, Sep 16</span>
                  <span class="post-author"> / Mario Douglas</span>
                </div>
                <h3 class="post-title">
                  Pariatur quia facilis similique deleniti
                </h3>
                <p>
                  Et consequatur eveniet nam voluptas commodi cumque ea est ex.
                  Aut quis omnis sint ipsum earum quia eligendi...
                </p>
                <a href="/blog-details" class="readmore stretched-link"
                  ><span>Read More</span><i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Recent Blog Posts Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="/" class="logo d-flex align-items-center">
                <img src="/img/logo.png" alt="" />
              </a>
              <p>
                RATHER HAVE US PLAN YOUR EVENT OR WEDDING?
                <a
                  href="https://wa.me/16475625436?text=I'm%20interested%20in%20planning%20for%20an%20event"
                  >LET"S CHAT</a
                >
              </p>
              <div class="social-links d-flex mt-3">
                <a
                  href="mailto:everythingvodas@gmail.com"
                  class="envelope"
                  target="_blank"
                  ><i class="bi bi-envelope"></i
                ></a>
                <a
                  href="https://www.facebook.com/share/bpWiujLd9uyhwC6p/?mibextid=LQQJ4d"
                  class="facebook"
                  target="_blank"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a
                  href="https://www.instagram.com/vodas_rentals?igsh=N2I4ZDdndXVzcXFt&utm_source=qr"
                  target="_blank"
                  class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>
                <li>
                  <i class="bi bi-dash"></i> <a href="/about">About us</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i> <a href="/services">Services</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i> <a href="/portfolio">Rentals</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i> <a href="/gallery">Gallery</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Available For Rent</h4>
              <ul>
                <li>
                  <i class="bi bi-dash"></i>
                  <a href="/portfolio">Folding Chairs</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i>
                  <a href="/portfolio">Rectangle Tables</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i>
                  <a href="/portfolio">Table Cloth & Chair Covers</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i>
                  <a href="/portfolio">Buffet Tables & Cutlery</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i>
                  <a href="/portfolio">Chafing Dishes</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                St. Catherine, <br />
                Welland, Niagara Falls<br />
                Niagara Region <br /><br />
                <strong>Phone:</strong> +1 647 562 5436<br />
                <strong>Email:</strong> Everythingvodas@gmail.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>EverythingVodasRentals</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --><!-- End Footer -->

    
    <div class="item-count" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <button type="button" class="btn position-relative">
        <i style="color: white;" class="bi bi-cart-plus-fill"></i
          >
        <span id="cookieCountDisplay" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
          <span class="visually-hidden">unread messages</span>
          
        </span>
      </button>
    </div>
   
    <!-- Wishlist Mail Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
    
  </body>
</html>
